.App {
  text-align: center;
  width: 100%;
  height: 100%;

}

h1 {
  color: white;
}

.video-box {
  background-color: #1b1e24;
  height:200px;
  width: 355px;
}

.video-box video {
  top:0;
  left:0;
}

#agora-controls {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#agora-controls {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#agora-controls button {
  margin: 0 0.4rem;
}

#agora-controls button span{
  font-size: 2.4rem;
}


#agora-main-container  {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background:#282c34;
}

#streams {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
}

.video-box-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}




.video-box-info {
  display: flex;
  justify-content: space-between;
}